/* Common styles */

.container{
    width: 1047px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.section-title h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
}
/* Header area  */
header{
   
    display: flex;
    justify-content: center;
}
.header{
    width: 1047px;
    display: flex;
    justify-content: space-between;
}
/* Menu style  */
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin-left: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
/* Slider area  */
.slider-wrap{
    display: flex;
}
.slider-img{
    width: 440px;
}
.slider-img img{
    width: 100%;
}
.slider-content{
    width: calc(100% - 440px);
    padding-right: 75px;
}
.slider-content h2{
    font-size: 52px;
}
.slider-content p{
    font-size: 16px;
}
a.slider-btn {
    color: #fff;
    background: #E02C6D;
    padding: 10px 24px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin-top: 25px;
    transition: 0.7s;
}
a.slider-btn i{
    font-size: 14px;
}
a.slider-btn:hover{
    background: #000;
    
}
/* Product area  */
.product-area{
    padding: 50px 0;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}
.product-img img {
    width: 300px;
    height: 256px;
}

h2.product-title {
    font-size: 28px;
}

.product-rating {
    font-size: 14px;
    margin-bottom: 20px;
}
.product-rating .fa-star.fill {
    color: #FB8200;

}
.product-rating .fa-star-half-alt.fill {
    color: #FB8200;

}
